.right-contents
  .right-top
    .right-top__group-box
      .right-top__group-box__group-name
        = @group.name
      .right-top__group-box__member-list
        - @group.group_users.each do |group_user|
          = "member: " + group_user.user.name     

    .right-top__edit-btn
      = link_to "Edit" , edit_group_path(@group) , class: "group-edit-btn"
      
  .chat-mainbox
    = render @messages


  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'send-btn'


      

  -# .send-form
  -#   .text-box
  -#     %input.text-box__input{placeholder:  "type a message", type: "text"}/
  -#     %label.text-box__input__image{class: "text-box__input__image"}
  -#       = icon('fas', 'image')
  -#       %input.text-box__input__image__file{type: "file"}
  -#   .send-btn
  -#     = link_to "Send" ,"#####", class: "send-btn_a"
 
